@use "variables" as v;

body {
  padding: 0;
  margin: 0;
}

h1,
p,
label,
a,
h2,
h3,
h4,
h5,
input,
textarea {
  font-family: var(--fuentePrincipal);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-white {
  background-color: white;
  color: var(--lightBlue);
  text-decoration: none;
  padding: 0.5rem 3rem;
  color: black;
  font-weight: 800;

  border-radius: 30px;
  outline: none;
  box-shadow: 1px 3px 10px 1px rgba(41, 41, 41, 0.356);
  transition: 0.7s all ease-in-out;
  &:hover {
    background-color: var(--lightBlue);
    color: white;
    border: 1px solid white;
  }
}

@keyframes palpitar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bajar-subir {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes meteorito {
  from {
    background-color: rgba(19, 19, 19, 0.932);
  }
  20%{
    background-color: rgba(0, 10, 102, 0.932);
  }
  40%{
    background: rgb(2, 100, 170);

  }
  49%{
    background: rgb(2, 100, 170);

  }
  50% {
    background: rgb(0, 111, 191);
    background: linear-gradient(
      158deg,
      rgb(0, 111, 191) 18%,
      rgb(7, 28, 128) 68%,
      rgb(77, 0, 54) 92%
    );
  }

  to {
    background-color: rgba(19, 19, 19, 0.932);
  }
}

