@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --fuentePrincipal:'Poppins', sans-serif;



    //colors

    --lightBlue: #136ad5;
    --strongBlue: #003366;
    --white: #ffffff;
    --grey:#eff3f6;
    --black:#2c2b2b;
    --violeta:#7B33FF;
}