@use '../base/mixins' as m;
@use '../base/variables' as v;

.containerg-joyas{
    height: 100%;
    position: relative;
    background: rgb(0,111,191);
    background: linear-gradient(158deg, rgba(0,111,191,1) 18%, rgba(7,28,128,1) 68%, rgba(77,0,54,1) 92%);
   @include m.desktop{
    height: 800px;

   }
}
.container-joyas{
    height: 100%;
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    
}

.container-text-joyas{
    @media (max-width:450px){
        padding: 3rem 0rem;
    }
    padding: 3rem 3rem; 

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 30px;
    @include m.tablet{
        padding: .5rem 5rem 3rem 5rem; 

    }
}
.container-joyas{
    color: rgb(245, 244, 244);
    position: relative;
    z-index: 100;
}
.container-joyas-p p{
margin: 2rem 0;
line-height: 1.5rem;
font-size: .8rem;
@media (max-width:500px){
    padding: 0 1rem;
    font-size: .6rem;

}
text-align: center;
@include m.tablet{
    text-align: justify;
    font-size: 1rem;
    
}
}
.container-joyas-h2 h2{
    font-size: 3rem;
    padding: 0 -.2rem;
    font-weight: 800;
    margin: 0rem 0;
    text-align: center;

    @include m.tablet{
        text-align: left;
        font-size: 5rem;

    }

}

.container-img-jewelry{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 200px;

}
.container-img-jewelry picture img{
    object-fit: cover;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 150px ;
    filter: drop-shadow(0px 0px 15px rgba(65, 65, 65, 0.61));

}


/*VENTAJAS*/
.containerg-joyas{
    
    position: relative;
    -webkit-box-shadow: 0px 0px 78px -24px rgba(0,2,48,1);
    -moz-box-shadow: 0px 0px 78px -24px rgba(0,2,48,1);
    box-shadow: 0px 0px 78px -24px rgba(0,2,48,1);
}

.ventaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include m.desktopXL{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    padding: .5rem;
}
.container-ventaja{
    position: relative;
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 50px;
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    @include m.phone{
        width: fit-content;

    }
    @include m.desktopXL{
        margin:0 4rem;
    }

}

.container-btn-more{
 
        margin: 0 auto;
        @include m.desktop{
margin: 0 0;            
        }
    
}




.logo-ventaja{
    z-index: 10;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    padding: 1rem ;

}
.text-ventajas{
    text-align: center;
    width: 230px;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 50px;
    font-size: .6rem;

    padding: 0 1rem;
    @include m.tablet{
        font-size: .8rem;

    }
}
.container-flecha{
    position: relative;
    right: 4%;
}

.panel{
    background-color: rgba(0, 1, 3, 0.404);
    position: absolute;
    height: 100%;
    width: 100%;

}