@use '../base/mixins' as m;
.containerg-opinions{

    background: rgb(46,0,33);
    background: linear-gradient(222deg, rgba(46,0,33,1) 0%, rgba(1,32,120,1) 60%, rgba(2,37,113,1) 100%);
    padding: 2rem 2rem;
    @include m.desktopXL{
        padding: 3rem 0rem;
        
    }

}
.container-opinions{
    max-width: auto;
    margin: 0 auto;
    @include m.tablet{
        padding: 3rem 0rem;
        max-width: 1410px;
        margin: 0 auto;
    }

h2{
    margin: 0;
    color: white;
    font-size: 2rem;

    @include m.tablet{
        text-align: left;
        font-size: 4.5rem;

    }

}
}

.container-img-numbers{
    background-color: white;

    border-radius: 0px;
    @include m.tablet{
        border-radius: 30px; 
    }
    img{
 
     
        border-radius: 0px;
        object-fit: cover;
        @include m.tablet{
            border-radius: 30px;
        }
    }
}

.container-img-numbers{
    display: grid;
    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }

}
.container-numbers-opinions{
    p{
        font-size: .8rem;
    }
    padding: 2rem .5rem;
    h2{
        background-image: linear-gradient(207deg, rgba(46,0,33,1) 21%, rgba(28,4,95,1) 40%, rgba(30,0,94,1) 60%, rgba(0,66,115,1) 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;    text-align: left;
    }

    
    @include m.tablet{
        padding: 2rem 2rem;
        p{
            font-size: .8rem;
        }
      
    }
  
   
}
.container-img-opinions{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   

background-color: white;
padding: 2rem 1rem;



}

.opinions-img{
    height: 95%;

}
